* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.logo {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 90px;
    transform: translateY(-30px);
}

.logo span {
    font-size: 4em;
    font-family: 'Island Moments', Arial, Helvetica, sans-serif;
    color: #694432;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    transform: translateY(20px);
}

form {
    display: grid;
    place-content: center;
    place-items: center;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(221, 221, 221, 0.39);
    padding: 10px;
}

form .field-input {
    margin: auto;
}

.names {
    display: block;
    padding: 10px;
    border: 1px solid #d7d7d7;
    width: 100%;
    margin-top: 15px;
}

.field-sex {
    padding: 10px;
}

.field-sex span {
    display: block;
    margin-bottom: 10px;
}

.field-sex input{
    margin-right: 5px;
}

.field-sex label {
    margin-right: 10px;
    cursor: pointer;
}

.especializado {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    
}

.especializado label {
    color: #000;
}

#esp {
    padding: 10px;
    color: #000;
    background: transparent;
}

.field-exp {
    padding: 10px 0;
    color: #000;
    margin: auto;
}

.field-exp span {
    display: block;
    text-align: center;
    font-size: 1.2em;
}

.field-exp div {
    text-align: center;
}

.field-exp > div > div {
    display: inline;
    margin-left: 15px;
} 

.field-exp div input {
    margin: 5px;
}

.field-pass {
    display: flex;
}

.passwords {
    padding: 10px 5px;
    border: 1px solid #d7d7d7;
    width: 50%;
    margin: 15px 20px;
}

.cada {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #edeade;
    background-color: #8e4ed3;
    border-radius: 5px;
    width: 80%;
}

footer {
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        overflow-x: hidden;
    }
    form {
        width: 100%;
    }

    .logo {
        transform: translateY(40px);
    }

    .logo img {
        width: 40px;
        transform: translateY(-20px);
    }
    
    .logo span {
        font-size: 2em;
    }
    .field-pass {
        flex-direction: column;
    }
    .passwords {
        width: 100%;
        margin: 10px 0;
    }
}