body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

p {
    font-style: italic;
}

.mais {
    color: #670086;
    text-align: center;
    display: inline-block;
    font-style: normal;
}

.plus {
    position: absolute;
    background-color: #670086;
    color: #fff;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    border-radius: 50px;
    cursor: pointer;
}